<!--
  <div class="profile-image"
     [ngStyle]="{ 'background-image': 'url(' + image + ')'}">
-->
<div class="container">
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
        [animation]="'slide'">
        <!--First slide-->
        <mdb-carousel-item>
            <div class="col-md-4">
                <div class="card card-image mb-3" style="background-image: url('./assets/img/vo.jpg') ">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fa fa-car"></i></h5>
                            <h3 class="card-title pt-2"><strong>Voitures</strong></h3>

                            <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> +
                                d'occaz</a>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-image mb-3" style="background-image: url('./assets/img/mo.jpg') ">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fa fa-motorcycle"></i></h5>
                            <h3 class="card-title pt-2"><strong>Motos</strong></h3>

                            <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> +
                                d'occaz</a>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-image mb-3" style="background-image: url('./assets/img/sport.jpg') ">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fa fa-bicycle"></i></h5>
                            <h3 class="card-title pt-2"><strong>Matériels de sport</strong></h3>

                            <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> +
                                d'occaz</a>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
        </mdb-carousel-item>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-carousel-item>
            <div class="col-md-4">
                <div class="card card-image mb-3" style="background-image: url('./assets/img/vo.jpg') ">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
                            <h3 class="card-title pt-2"><strong>Voitures d'occasions</strong></h3>

                            <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> +
                                d'occaz</a>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-image mb-3" style="background-image: url('./assets/img/vo.jpg') ">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
                            <h3 class="card-title pt-2"><strong>Voitures d'occasions</strong></h3>

                            <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> +
                                d'occaz</a>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-image mb-3" style="background-image: url('./assets/img/vo.jpg') ">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
                            <h3 class="card-title pt-2"><strong>Voitures d'occasions</strong></h3>

                            <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> +
                                d'occaz</a>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
        </mdb-carousel-item>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-carousel-item>
            <div class="col-md-4">
                <div class="card card-image mb-3" style="background-image: url('./assets/img/vo.jpg') ">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
                            <h3 class="card-title pt-2"><strong>Voitures d'occasions</strong></h3>

                            <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> +
                                d'occaz</a>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-image mb-3" style="background-image: url('./assets/img/vo.jpg') ">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
                            <h3 class="card-title pt-2"><strong>Voitures d'occasions</strong></h3>

                            <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> +
                                d'occaz</a>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-image mb-3" style="background-image: url('./assets/img/vo.jpg') ">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fa fa-pie-chart"></i> Marketing</h5>
                            <h3 class="card-title pt-2"><strong>Voitures d'occasions</strong></h3>

                            <a mdbBtn color="pink" class="waves-light" mdbWavesEffect><i class="fa fa-clone left"></i> +
                                d'occaz</a>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
        </mdb-carousel-item>
        <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
    <!--Carousel Wrapper-->
</div>